/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/09/2015, 19:01:51
    Author     : Pedro Pagotto
*/

.icones-32{
    position:relative;top: 5px; right:4px;
    width:32px;
    height:32px;
}