/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/09/2015, 16:32:24
    Author     : pepag
*/

body{
    margin: 0px;
    margin: 0;
    padding:0;
    background-color: #ffffff;
    background-size: auto;
    text-align: center;    
}

.logo-marca{
    
    width: 700px;
    height: 230px;
    
    
}
