/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/09/2015, 14:24:39
    Author     : lucas
*/

*{
    margin: 0;
    padding: 0;
}

/* 1º aqui estou atribuindo as configurações do SLID jQuery*/
    section#galeria{
    background: #fff;
    width: 1005px;
    height: 505px;
    display: block;
    overflow: hidden;
    box-shadow: #999 0 0 15px;
    margin: 50px auto;
    position: absolute;  top: -1px; right: 35px;
}

/* 2º Aqui estou atribuindo as configurações dos botões Next/Prev*/
    section#galeria section#buttons{
    display: none; /* aqui ele faz sumir o botão*/
    position: absolute;
    margin: 5px;
    z-index: 500;
}
    
/* 3º Aqui atribui a configuração do botõens como cor e opacidade*/
    section#galeria section#buttons a{
    background: #333;
    width: 50px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font:bold 22pt Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
    
}    
    section#galeria section#buttons a:hover{
        background: #555;
                
    }
    
    section#galeria ul{
        list-style: none;
        display: table;
        position: relative;top: 1px;
          
    }
    
    section#galeria ul li{
        width: 1005px;
        height: 505px;
        display: inline-block;
        position: relative;
    }
    
    
    section#galeria ul li img{
        width: 100%;
        height: 100%;     
         
    }

    /*Aqui atribui o Span em cima do slid, ou seja coloca as frazes em cima do slid*/
    section#galeria ul li span{        
        background: #333;
        width: 950px;
        display: table;
        padding: 15px; 
        opacity: 0.7;
        position: absolute;
        bottom: 0;
        margin: 10px;
        font: 12pt "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
        color: #fff;
        
    }