/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/09/2015, 21:23:02
    Author     : pepag
*/
#inputmenu {
position : relative; top : -125px;
}
 #divCenter { 
                width: 400px; 
                height: 150px; 
                left: 50%; 
                margin: -22px  -10px -210px; /* Aqui arruma a line do Input*/
                padding:10px;
                position: absolute; 
                top: 50%; }

#input {
    
position : relative; top : 5px;
 margin-left:-250px; 
}/*
#labelescrita {
position : relative; top : 43px; right: 135px;
}*/

#ajustec{
  
}
#labelescrita_2 {
position : relative; top: 5px;
color: #222;
font-size: 25px;
}



.input-estilo{
    /*definimos a largura do box*/
     padding: 15px;
    /* definimos a altura do box */
    /* definimos a cor de fundo do box */
    /* definimos o quão arredondado irá ficar nosso box */
   border-radius: 15px;
    padding: 10px;
  border: #f4d00b 2px solid #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;}


/*Posicionamento e layouts da tela de cadastro.jsp Pedro Pagotto*/
#colunas{
    position: relative; right: 0px; top: 75px;
   /* background-color: black;*/
    display:inline-block;
    width: 1200px;
    height: 400px;
    color: white;
    text-align: center;  
}
/*1º coluna da tela : */

#input-position_1{
    position: relative; right: 40px; top: 15px;
   /* background-color: red;*/
    display:inline-block;
    width: 500px;
    height: 340px;
    color: white;
    text-align: center;    
}

/*2º Coluna*/
#input-position_2{
    position: relative; left: 40px; top: 15px;
  /*  background-color: #f4d00b;*/
    display:inline-block;
    width: 500px;
    height: 340px;
    color: white;
    text-align: center;    
}
/*defnições de escrita e estilos de label e inputs*/
#labelescrita_1 {
position: absolute; left: -10px; width: 200px;
color: #222;
font-size: 20px;
}

/*defnições de escrita e estilos de label e inputs*/
#labelescrita_3 {
position: absolute; left: 10px;
color: #222;
font-size: 25px;
}
.input-estilo_1{
   padding: 15px;   
   border-radius: 4px;
   padding: 10px;
   transition: box-shadow 0.3s, border 0.3s;
   position: relative;  left:65px;                   
}

#botoes-area{  
    position: relative; right: 20px; top: 25px; left: 10px;
  /*  background-color: #f4d00b;*/
    display:inline-block;
    width: 200px;
    height: 60px;
    color: white;
    text-align: center;      
}
.botoes-estilo-ok{
    width: 100px;
    height: 40px;
    position: relative;top: 5px;
}
.botoes-estilo-cancelar{
    width: 100px;
    height: 40px;
    position: relative;right: 25px; top:5px;
    
}
/*Posicionamento e layouts da tela de cadastro.jsp Pedro Pagotto*/
