
@charset "utf-8";
/* CSS Document */

.deixabolinha { 
                height: 55px;
                width: 55px;
                margin-top: -85px; 
                margin-left: 1230px; 
                color: #f4d00b;  
                border-radius: 100px; 
                overflow: hidden; 
                display: inline-block; float: left;
}

h8{
 
    font-size:20px;
    font-family: "Colibri", "Comic Sans";
    color: #FFFFFF;
}
h7{
    color: #222;
    font-size:20px;
    font-family: "Colibri", "Comic Sans";
}
body {font-family:arial; }

div.dropdown {
           color: #555;
           margin: 3px -22px 0 0; 
           width: 143px; 
           position: relative;height: 17px; 
           text-align:left;
}

div.submenu { 
    background: #f4d00b;
    position: absolute; 
    top: -82px; 
    left: 1190px; 
    z-index: 100; width: 135px; display: none; 
    margin-left: 10px; 
    padding: 100px 0 5px;
    border-radius: 6px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.dropdown  li a { 
    color: #555555; 
    display: block; font-family: arial;
    font-weight: bold; padding: 6px 15px;
    cursor: pointer; text-decoration:none;
}

.dropdown li a:hover{ background:#E0E0E0; color: #FFFFFF; text-decoration: none; }

a.conta { font-size: 11px; line-height: 16px; color: #555; position: absolute; z-index: 110; display: block; padding: 11px 0 0 20px; height: 28px;width: 121px; margin: -11px 0 0 -10px; text-decoration: none; cursor:pointer; }

.raiz { list-style:none; margin:0px; padding:0px; font-size: 11px;padding: 11px 0 0 0px; border-top:1px solid #dedede; } 

/*Div pra posicionamento e união da bolinha e dropdown*/

#posicionamento-logout-menu{
    position: relative; top:23px;
}
