/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/09/2015, 12:33:03
    Author     : pedropagotto
*/



/*redefine a pagina , todas as dimenções e cor*/
body{
    margin: 0px;
    margin: 0;
    padding:0;
    background:#eff0ef  url(icones/clean-white-polygon-backgrounds-9.jpg)  center; 
    background-size: auto;
    text-align: center;    
}
/*define a  pagina tamanho , cor , largura e posição*/
#tudo {
width: auto;

}

/*define o topo da pagina tamanho , cor , largura e posição*/

#topo {
width: auto;
height: 120px;
margin-top: 25px;
/*background:#FFF url(icones/LG.PNG) no-repeat center;*/
background: url(icones/LG.png) no-repeat center; 

}

#error-page {
width: auto;
height: 600px;
margin-top: 25px;
/*background:#FFF url(icones/LG.PNG) no-repeat center;*/
background:#FFF url(icones/errorpage.jpg) no-repeat center; 

}


/*define o login da pagina tamanho , cor , largura e posição*/
#login{
float: left;
width: 220px;
height: 505px;
position: relative;top: -15px; right: 95px;
/*background-color: #eff0ef;*/
background: url(../css/icones/bgflogin3.png) no-repeat 100% 0%;
background-size: 100%;
}

/*
/*define o menu da pagina tamanho , cor , largura e posição*/
#menu {
position: relative;top: 15px;
width: auto;
height: 5px;
/*background: #66ccff;*/
}
/*
#menu-decorate{
    
    /*
position: relative;top: 2px;
width: auto;
border-bottom: 5px solid #66ccff;
font-family: Raleway, sans-serif;
line-height: 3;
}
/*define o conteudo da pagina tamanho , cor , largura e posição*/

/*utilizado para quando tiver somente menu e inputs na tela */
#conteudo-include{
width: auto;
height: 480px;
position: static; top: 35px;

/*background-color: #f4d00b;*/
}
/*utilizado para quando tiver somente menu e inputs na tela */

/*utilizado somente quando houver slide na pagina */
#conteudo-slide{
width: auto;
height: 600px;
position: relative; top: 72px; 
/*background-color:#ff0033;*/   
}/*utilizado somente quando houver slide na pagina */

/*define o rodapé da pagina tamanho , cor , largura e posição*/


#rodape {
    clear: both;
    height: 65px;
    width: auto;
    position: relative; top: 145px;   
    background:url("icones/rodapé background.png") top left repeat-x ;
}

/*define o rodapé da pagina tamanho , cor , largura e posição*/
/*define layout de escritas : */
#escitas-informacao{
   
   position: relative; top:55px;
   
    
}
/*define o painel de cadastro*/
#cadastro {
width: 1000px;
height: 515px;
/*background: #900;*/
color: #FFF;
position: absolute; left:11%; top:241px;
padding: 30px;
border: 5px solid ;/*aqui é a borda que ficava no cadastro*/
}


/*CSS provisorios para acionar funções de sair , alterar cadastros dentro do menu*/
/*Botão de logout*/
.logout{
    position: absolute; top: 30px ; right: 80px;
    text-decoration: blue;
    font: boder;
    
    
}

.alterarcadastro{
    position: absolute; top: 430px ; right: 70px;
    text-decoration: blue;
    font: boder;
    
    
}
